/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

h1 {
    font-size: 60px;
    font-style:normal;
    text-align:center;
    color: black;
}

img {width: 300px;}
